* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;

}

/* -------------header------------------- */
.header {
    position: fixed;
    top: 0;
    z-index: 1;
    background-color: white;
}

.logo img {
    width: 90%;
}

.header-links {
    color: #3B3663;
}

.header-links .active-link {
    color: orangered;
}

.check {
    display: none;
}

.header-links ul li {
    font-size: 16px;
    font-weight: 500;
    margin-left: 15px;
    display: inline;
}

.header-links ul li a {
    text-decoration: none;
    color: #3B3663;
}

.header-side {
    justify-content: space-evenly;
}

.header-side .btn {
    color: white;
    font-weight: 500;
    background: linear-gradient(to right, orangered, orange);
}

.header-side i {
    font-size: 18px;
}
.hide{
    display: none;
}
/* ----------------footer---------------- */
.foot-one i {
    margin-right: 10px;
    color: #897fef;
    font-size: 30px;
}

.foot-one p {
    font-size: 16px;
}

.foot-one a {
    color: #000;
    text-decoration: none;
}

.foot-one input {
    padding: 0 20px;
    width: 65%;
    height: 50px;
    background: #f9f9f9;
    border: 2px solid #eaedef;
    border-right: none;
    color: #8188b9;
    position: relative;
}

.foot-one .btn {
    right: auto;
    position: absolute;
    height: 50px;
    color: white;
    border: 2px solid #6154e3;
    font-weight: 500;
    background: linear-gradient(to right, #897fef, #6154e3);
}

.foot-one,
.foot-two {
    border-bottom: 2px solid #eaedef;
}

.foot-two .one h4 {
    font-weight: bolder;
}

.foot-two .one a {
    color: #000;
    text-decoration: none;
}

.foot-three i {
    padding: 5px;
    font-size: 16px;
    color: orangered;
    border: 2px solid orangered;
}

/* ----------------------section1--------------------- */
.section1 {
    margin-top: 100px;
}

.section1-left img {
    width: 100%;
}

.service-one {
    background-image: linear-gradient(to right, orangered, orange, yellow);
    background-clip: text;
    color: transparent;
    font-weight: 800;
    font-size: 70px;
}

.service p {
    font-size: 18px;
}

.service2-sub1 {
    width: 90%;
    padding: 10px;
    background: #fff;
    border-radius: 4px;
    display: flex;
    box-shadow: 17px 17px 46px 0 rgba(17, 69, 111, .11);
}

.service2-sub1 input {
    border-radius: 4px;
    padding: 10px;
    background: #f8f9fa;
    border: none;
    width: 70%;
    height: 50px;
}

.service2-sub1 .btn {
    color: white;
    background: #3B3663;
    height: 50px;
    min-width: 30%;
}

.service-three i {
    font-size: 35px;
}

.service3-two a {
    color: #000;
    text-decoration: none;
}

/* ---------------section2----------------- */
.section2 img {
    width: 100%;
    height: 100px;
    object-fit: contain;
    filter: grayscale(1) opacity(0.4);
}

/* -------------section3------------------- */
.section3-sub1 {
    background-image: url(/assets/images/map.webp);
}

.section3-sub1 .btn,
.section4-sub2 .btn {
    font-weight: 500;
    color: #3B3663;
    border: 1px solid #6154e3;
}

.box {
    height: 100%;
    border-radius: 10px;
}

.box h2 {
    font-weight: 700;
    font-size: 20px;
}

.circle {
    border-radius: 50%;
    height: 80px;
    width: 80px;
}

.circle-one {
    background-image: conic-gradient(from -45deg, #ff7850, #ffd46d);
}

.circle-two {
    background-image: conic-gradient(from 135deg, #45a3e6, #88d7e7);
}

.circle-three {
    background-image: conic-gradient(from -135deg, #b1e15d, #caf082);
}

.circle-four {
    background-image: conic-gradient(from 45deg, #a461e9, #c4a7f0);
}

/* --------------section4---------------- */
.figure {
    width: 100%;
}

.section4-sub2 progress {
    width: 100%;
    accent-color: rgb(207, 97, 33);
}

/* --------------------section5-------------------- */
.section5-sub2 img {
    width: 100%;
}

.box h1,
.section9 h1 {
    background-image: linear-gradient(to right, orangered, orange, yellow);
    background-clip: text;
    color: transparent;
    font-weight: 800;
    font-size: 60px;
}

.box p {
    font-weight: 600;
}

/* ---------------------section6------------------- */
.section6 img{
    width: 100%;
}
.box1,
.box2,
.box3 {
    background-size: cover;
    height:100%;
    border-radius: 15px;
    background-repeat: no-repeat;
}

.box1 {
    background-image:linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url(../images/slide1.webp);
}

.box2 {
    background-image:linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url(../images/slide2.webp);
}

.box3 {
    background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)),url(../images/slide3.webp);
}

.section6-sub1 p {
    color: white;
}

.section6-sub1 span {
    color: white;
    display: inline-block;
    font-size: 20px;
    font-weight: 500;
    margin-top: 80px;
}

/* -------------------section7------------------- */
.box5{
    height: 100%;
}
.box4 img {
    width: 15%;
}

/* ---------------------section8------------------- */
.section8 img {
    width: 100%;
}

form .btn,
.section9 .btn {
    color: white;
    font-weight: 500;
    background: linear-gradient(to right, orangered, orange, orangered);
}

/* -----------------section9--------------------- */
.slide1{
    background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)),url(../images/slide1.webp);
}

.slide2 {
    background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)),url(../images/slide2.webp);
}

.slide3 {
    background: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)),url(../images/slide3.webp);
}

.slide1,
.slide2,
.slide3 {
    background-repeat: no-repeat; 
    background-size: cover;
    height: 100%;
    border-radius: 15px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.section9 span {
    display: inline-block;
    margin-block: 30px;
    font-weight: bold;
    font-size: 18px;
}

.section9 a {
    text-decoration: none;
    color: #fff;
}

.section9 h2 {
    font-weight: 700;
}

/* ----------------section10---------------------- */
.section10 {
    background: #f2f4f6;
}

.message {
    background-color: white;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}

.message i {
    padding-right: 15px;
    font-size: 70px;
}

.right-one img {
    border-radius: 50%;
    border: 2px solid black;
    width: 80px;
}

/* ----------------media queries------------------ */
@media screen and (max-width:992px) {
    .hide{
    display:block;
}
    .header-links ul {
        width: 100%;
        height: 100vh;
        right: -100%;
        top: 50px;
        position: fixed;
        z-index: 1;
        background: #f2f4f6;
        transition: 0.5s;
    }

    .header-links ul li {
        padding: 20px;
        text-align: center;
        display: block;
    }

    #checkbox:checked~ul {
        right: 0;
    }

    .service-one {
        font-size: 50px;
    }
.service p {
    font-size: 10px;
}
    .service2-sub1 {
        width: 100%;
        margin-bottom: 30px;
    }

    .service2-sub1 .btn {
        font-size: x-small;
    }
    .box h2 {
    font-size: 14px;
}
.section4-sub2 h1{
    font-size:18px;
}
.section4-sub2 p{
    font-size: 14px;
}

}
@media screen and (max-width:768px){
    .section9 h1 {
    font-weight: 700;
    font-size: 40px;
}
.message i {
    padding-right: 5px;
    font-size: 25px;
}

.foot-one .btn{
    font-size: 10px;
}
.box h1, .section9 h1 {
    font-size: 40px;
}
.foot-one p {
    font-size: 12px;
}
form .btn,
.section9 .btn{
    width: 100%;
}
}